#etch-container {
    display: flex;
    align-items: center;    
    flex-flow: column;
}

#container {
    display: grid;    
    width: 500px;
    height: 500px;
    grid-gap: 0;
    border: 2px solid black;    
}

#reset-button {    
    width: 5em;
    height: 5em;
    margin: 2em;
}

.square {    
    background-color: white;    
}

.square-active {
    background-color: black;
    transition: .5s;    
}